<!DOCTYPE html>
<html>
<head>
  <title>Encountered Error</title>
  <style type="text/css">
      body { background-color: #fff; color: #666; text-align: center; font-family: arial, sans-serif; }
      div.dialog {
          width: 25em;
          padding: 1 4em;
          margin: 4em auto 0 auto;
          border: 1px solid #fff;
          border-right-color: #fff;
          border-bottom-color: #fff;
          background-color: #E1E1E1;
      }
      div.logo{
          margin: 15px;
          background-color: #fff;
          padding: 20px;
      }
      h1 { font-size: 90%; color: #f00; line-height: 1.5em; }
      p  { font-size: 90%;}
  </style>
  <!-- GOOGLE ANALYTICS CODE FOR TRACKING -->
  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-7616758-4', 'beconsumables.com');
      ga('send', 'pageview');

  </script>
</head>

<body>
<div>
  <h1>You Have Encountered an Error (Status Code 500)</h1>
</div>
<div class="dialog">
  <div class="logo"><img class="img-responsive" src="/assets/KLX_logo.jpg"></div>
  <% unless error.blank? %>
      <p><%= error %></p>
  <% end %>
  <p>Your error report has been emailed to the support group.</p>
</div>
</body>
</html>
