.td_align_center {
  text-align: center;
}

.td_align_right {
  text-align: right;
}

.align_left {
  text-align: left;
}

.tbl_pick_ticket_main {
  width: 100%;
  margin: 0 auto;
}

.tbl_invoice_sub {
  width: 100%;
}

.td_invoice_content {
  background-color: #e8e8e8;
}

.vertical_align {
  vertical-align: top;
}

.float_right {
  float: right;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

//.add_modal {
//  width: 900px !important;
//  left: 37% !important;
//  padding: 0px;
//  height: 524px;
//  overflow-y: auto;
//}

.add_new_cup_parts {
  color: #555555;
}

#add_remove_new_part {
  position: relative;
  float: right;
  bottom: 29px;
  right: -7px;
}

.multipartcup_image {
  position: relative;
  top: -8px;
}

#non_contract_div {
  background-color: #76ACD8;
  padding: 10px 20px;
  color: #FFFFFF;
  position: absolute;
  top: 148px;
  left: 0px;
  width: 660px;
}

#part_image {
  position: absolute;
  z-index: 1;
  box-shadow: 0 4px 2px #424242;
  border: 2px solid #fff;
}

//#part_select_modal {
//  top: 7% !important;
//}

.non_c_part_in_popup_text {
  position: absolute;
  top: -80px;
  left: -9px;
  background-color: #da4f49;
  color: #ffffff;
  padding: 5px 20px;
  font-weight: bold;
}

.popup_thumbnail {
  background-color: #EAEAEA !important;
  width: 125px;
  padding-bottom: 7px;
  box-shadow: 0px 0px 35px -10px #000;
  border: 1px solid #bbbbbb;
  img {
    width: 125px;
    height: 65px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 10px;
  }
}

.popup_caption {
  padding: 0px 8px !important;
}

.part_qty_n_uom {
  display: block;
}
.part_qty_n_uom input{
  display: inline-block;
}

input#d_quantity {
  width: 70px;
  display: inline;
}

.part_qty_n_uom span {
  display: inline;
  font-size: 12px;
  margin: 0px 0px 5px 10px;
}

.hide_cup_part_thum {}

.popup_pages.active {
  background-color: #336699;
  color: #fff;
  border: 0px;
  &:hover {
    background-color: #336699;
    color: #fff;
    border: 0px;
  }
}

.popup-part-thumbnail {
  padding-bottom: 10px;
  background-color: #fff;
}
