.td_align_center {
  text-align: center;
}

.td_align_right {
  text-align: right;
}

.align_left {
  text-align: left;
}

.tbl_invoice_main {
  width: 700px;
  margin: 0 auto;
}

.tr_invoice_subheaders {
  background: #666;
  color: #fff;
}

.tbl_invoice_sub {
  width: 100%;
}

.td_invoice_content {
  background-color: #e8e8e8;
}

.vertical_align {
  vertical-align: top;
}

.float_right {
  float: right;
}
