<ul class="nav nav-pills header-sub-menu">
  <li><a href="http://www.klxaerospace.com/about-us" target="_blank">Segment Overview</a></li>
  <li><a href="http://www.klxaerospace.com/products" target="_blank" >Products & Services</a></li>
  <li><a href="http://www.klxaerospace.com/supplier-resources/" target="_blank">Global Supply Chain</a></li>
  <li><a href="http://www.klxaerospace.com/customer-resources/" target="_blank">Customer Support</a></li>
</ul>